@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #0f0f0f;
  color: #fff;
}

.bg-custom-dark-gray {
  background-color: #1d1b1e;
}

.vw-45 {
  max-width: 45%;
}

.vw-55 {
  max-width: 55%;
}

.bg-custom-blue {
  background-color: #4f75ff;
}
